/* ---Base styles--- */
* {margin: 0;}
html, body {height: 100%;}
header, nav, section, article, aside, footer {display: block;}
header {
  background: url("../images/bg-header.png") no-repeat;
  background-size: 100%;
  position: absolute;
  left: 0px;
  top: 0px; 
  width: 100%;
  height: 100%;  
  z-index: 2;
}
footer {
  background: url("../images/bg-bottom.png") no-repeat;
  background-size: 100%;
  position: absolute;
  left: 0px;
  top: 1204px; 
  width: 100%;
  height: 100%;
  z-index: 4;
}
main {
  position: absolute;
  left: 0px;
  top: 620px; 
  width: 100%;
  height: 100%;
  z-index: 6;
}
section {
	position: relative;
}
/* ---End of base styles--- */

/* ---Header section--- */
.eye-leo {
  font-size: 36px;
  font-family: "Myriad Pro";
  color: rgb(6, 7, 6);
  line-height: 1.2;
  text-align: center;
  -moz-transform: matrix( 0.76600002382995,0,0,0.76600002382995,0,0);
  -webkit-transform: matrix( 0.76600002382995,0,0,0.76600002382995,0,0);
  -ms-transform: matrix( 0.76600002382995,0,0,0.76600002382995,0,0);
  position: relative;
  z-index: 86;
}
.eye-leo-p {
	position: relative;
	display: inline-block;
	top: 34.401px;
	left: -180px; 
}
.eye-leo-img {
	position: relative;
	display: inline-block;
	top: 29.88px;
	left: -189px; 
}
nav {
	position: relative;
}
nav > ul, a{
	position: relative;
	list-style: none;
	text-decoration: none;
}
.features {
  font-size: 23.499px;
  font-family: "Myriad Pro";
  color: rgb(6, 7, 6);
  line-height: 1.2;
  text-align: center;
  -moz-transform: matrix( 0.76600002382995,0,0,0.76600002382995,0,0);
  -webkit-transform: matrix( 0.76600002382995,0,0,0.76600002382995,0,0);
  -ms-transform: matrix( 0.76600002382995,0,0,0.76600002382995,0,0);
  position: absolute;
  left: 626.166px;
  top: 34.401px;
  z-index: 90;
}
.community {
  font-size: 18px;
  font-family: "Myriad Pro";
  color: rgb(6, 7, 6);
  line-height: 1.2;
  text-align: center;
  position: absolute;
  left: 806.844px;
  top: 38.09px;
  z-index: 88;
}
.buy-now {
  font-size: 18px;
  font-family: "Myriad Pro";
  color: rgb(6, 7, 6);
  line-height: 1.2;
  text-align: center;
  position: absolute;
  left: 994.844px;
  top: 39.108px;
  z-index: 89;
  padding: 7px;
}
.buy-now-around {
  border-width: 3px;
  border-color: rgb(0, 0, 0);
  border-style: solid;
  position: absolute;
  left: 959px;
  top: 28px;
  width: 134px;
  height: 39px;
  z-index: 87;
}
.header-main {
	position: relative;
	top:100px;
	left: 180px;
}
.header-main-logo {
	position: relative;
	top: 30px;
	z-index: 10;
} 
.header-main-text {
	position: relative;
	left: -200px;
} 
 .header-h {
  font-size: 36px;
  font-family: "Myriad Pro";
  color: rgb(0, 0, 0);
  line-height: 1.2;
  text-align: center;
  position: relative;
  left: 160px;
  top: 50px;
  z-index: 83;
}
.header-p {
  font-size: 22px;
  font-family: "Myriad Pro";
  color: rgb(1, 0, 0);
  line-height: 1.2;
  text-align: center;
  position: relative;
  left: 210px;
  top: 70px;
  z-index: 19;
} 
/* ---End of header section--- */

/* ---Main section--- */
.left-side {
  font-size: 36px;
  font-family: "Myriad Pro";
  color: rgb(0, 0, 0);
  line-height: 1.2;
  text-align: center;
  -moz-transform: matrix( 0.93746109560822,0,0,0.93746107816696,0,0);
  -webkit-transform: matrix( 0.93746109560822,0,0,0.93746107816696,0,0);
  -ms-transform: matrix( 0.93746109560822,0,0,0.93746107816696,0,0);
/*   position: relative; */
  z-index: 17;
}
.eye-leo-main {
  font-size: 36px;
  font-family: "Myriad Pro";
  color: rgb(6, 7, 6);
  line-height: 1.2;
  text-align: center;
  -moz-transform: matrix( 1.63247976002782,0,0,1.63247983233088,0,0);
  -webkit-transform: matrix( 1.63247976002782,0,0,1.63247983233088,0,0);
  -ms-transform: matrix( 1.63247976002782,0,0,1.63247983233088,0,0);
  position: relative;
  z-index: 16;
}
.inline-main {
	position: relative;
	left: -70px;
	top: 80px;
}
.inline-main > p {
	position: relative;
	display: inline-block;
	top: 10px;
	left: 40px;
}
.right-side {
	float: right;
	width: -50%;
/* 	position: relative;
top: 20px; */
}
.buy-now-main {
  font-size: 30px;
  font-family: "Myriad Pro";
  color: rgb(0, 0, 0);
  line-height: 1.2;
  text-align: center;
  position: relative;
  background-color: rgb(52, 122, 81);
  left: -315px;
  top: 300px;
  width: 173px;
  height: 59px;
  z-index: 13;
}
/* ---End of main section--- */

/* ---Footer section--- */
.container-fluid {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -247px; 
}
.site-footer, .container-fluid:after {
  height: 247px; 
}
.contacts {
  font-size: 20px;
  font-family: "Myriad Pro";
  color: rgb(0, 0, 0);
  line-height: 1.2;
  text-align: center;
  position: relative;
  top: 123.5px;
  z-index: 6;
}
.contacts > p {
	display: inline-block;
}
.contact-us {
	position: relative;
	left: 70px;
}
.social-networks {
	position: relative;
	left: -10px;
	top: 105px;
}
.g-plus {
	position: relative;
	left: 90px;
}
.twitter {
	position: relative;
	left: 180px;
}
.copy {
  font-size: 18px;
  font-family: "Myriad Pro";
  color: rgb(0, 0, 0);
  line-height: 1.2;
  text-align: center;
  position: relative;
  top: 165px;
  left: -350px;
  z-index: 5;
}

/* ---End of footer section--- */

/* ---Animation section--- */
.feet {
	z-index: 100;
	visibility: hidden;
	/*position: relative;
	list-style: none;
	text-decoration: none;
	*/
}
.first-foot {
	position: relative;
	top: 200px;
	left: -200px;
}
.second-foot {
	position: relative;
	top: 175px;
	left: -170px; 
}
.third-foot {
	position: relative;
	top: 195px;
	left: -140px; 
}
.fourth-foot {
	position: relative;
	top: 230px;
	left: -100px;
}
.fifth-foot {
	position: relative;
	top: 310px;
	left: -90px;
}
.six-foot {
	position: relative;
	top: 390px;
	left: -135px;
}
/* ---End of animation section--- */